# app
pygemstones>=0.0.14
black>=26.5.1
pydantic>=2.13.4
sqlalchemy[asyncio]>=2.0.50
aiosqlite>=0.22.1
asyncpg>=0.31.0
fastapi[standard]
uvicorn
throttled
apscheduler

# test
pytest
pytest-asyncio
pytest-mock
pytest-cov
httpx
