# app
pygemstones>=0.0.14
black>=25.9.0
pydantic>=2.11.9
sqlalchemy[asyncio]>=2.0.43
aiosqlite>=0.21.0
asyncpg>=0.30.0
fastapi[standard]
uvicorn
throttled
apscheduler

# test
pytest
pytest-asyncio
pytest-mock
pytest-cov
httpx
